<div class="col-12">
    <div class="col-7 mb-4" style="height: .5em">
        <div class="line"></div>
    </div>
    <div class="col-5" data-simplebar>
        <div class="row mb-2">
            <div class="col-12">
                <div class="line"></div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-8">
                <div class="line"></div>
            </div>
        </div>
    </div>
</div>