@page "/viewpost/{PostId}"
@using BlogSite.Client.Features.ViewPost
@inherits ViewPostModel
@inject AppState _appState

<Title Value="@BlogPost.Title"></Title>

<WdHeader Heading=@BlogPost.Title Author=@BlogPost.Author PostedDate=@BlogPost.Posted></WdHeader>
<article>
    <div class="container">
        <SkeletonCards IsLoading="BlogPost.Author is null" ShouldAnimate="true" NumberOfColumns="1">
            <SkeletonTemplate>
                <ViewPostSkeleton />
            </SkeletonTemplate>
            <ChildContent>
                <div class="row">
                    <div class="col-md-12 text-center">
                        @if (!string.IsNullOrEmpty(BlogPost.ThumbnailImagePath))
                        {
                            <img src="@($"/Images/{BlogPost.ThumbnailImagePath}")" class="img-thumbnail mb-3" />
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @((MarkupString)BlogPost.Post)
                    </div>

                    @if (_appState.IsLoggedIn)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <NavLink class="btn btn-primary float-right" href="@($"/editpost/{BlogPost.Id}")">Edit</NavLink>
                            </div>
                        </div>
                    }
                </div>
            </ChildContent>
        </SkeletonCards>
    </div>
</article>