@page "/"
@using BlogSite.Client.Features.Home
@inherits HomeModel

<Title Value="Mi pequeño rincón sobre tecnologia y muchas cosas"></Title>
<WdHeader Heading="El blog de Crahun" SubHeading="Mi pequeño rincón sobre tecnologia y muchas cosas"></WdHeader>

<div class="container">
    <SkeletonCards IsLoading="blogPosts is null" ShouldAnimate="true" NumberOfColumns="1">
        <SkeletonTemplate>
            <BlogPostSkeleton />
        </SkeletonTemplate>
        <ChildContent>
            @foreach (var post in blogPosts)
            {
                <BlogPostPreview blogPost="@post"></BlogPostPreview>
                <hr />
            }
        </ChildContent>
    </SkeletonCards>
</div>