@page "/login" 
@inherits LoginModel

<Title Value="Login"></Title>

<WdHeader Heading="El blog de Crahun" SubHeading="Por favor, introduce tus credenciales"></WdHeader>

<div class="container">
        <div style="max-width: 350px;margin: 0 auto">
            <div class="editor text-center">                
                <h3 style="padding-bottom: 1em"><i class="fa fa-user" aria-hidden="true"></i> Login</h3>
                @if (ShowLoginFailed)
                {
                    <div class="alert alert-danger">
                        Login attempt failed.
                    </div>
                }
                <input type="text" @bind=@LoginDetails.Username placeholder="Username" class="form-control" />
                <input type="password" @bind=@LoginDetails.Password placeholder="Password" class="form-control" />
                <button class="btn btn-primary" @onclick="Login">Login</button>
            </div>
        </div>
</div>